
{{#link-to 'services' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-signal'></i> Services</a>{{/link-to}}
{{#link-to 'users' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-users'></i> Users</a>{{/link-to}}
{{#link-to 'subscriptions' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-calendar'></i> Subscriptions</a>{{/link-to}}
{{#link-to 'invoices' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-print'></i> Invoices</a>{{/link-to}}
{{#link-to 'tickets' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-tag'></i> Tickets</a>{{/link-to}}
{{#link-to 'campaigns' tagName='li'}}<a href='#' {{bind-attr href='view.href'}}><i class='fa fa-bullhorn'></i> Campaigns</a>{{/link-to}}