<div class="panel">
	<div class="panel-body">
		<span class="pull-right">
			<button class="btn btn-info" {{action 'edit' this}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
			<button class="btn btn-danger" id="delete-btn" {{bind-attr data-delete=id}} {{bind-attr data-summary=name}}><span class="glyphicon glyphicon-remove"></span> Delete</button>
		</span>

<h3>{{ name }}</h3>

<div class="form form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="name" id="name-label">Name</label>
        <p class="form-control-static">{{name}}</p>    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="description" id="description-label">Description</label>
        <p class="form-control-static">{{description}}</p>    </div>
</div>
	</div>
</div>

{{partial 'partials/service_view'}}
